@import "../../style/typography.scss";
@import "../../style/breakpoints.scss";

$gap: 2rem;

.event-item {
  display: flex;
  flex-direction: row;

  // a little bit space to align the list to the date
  &:first-child {
    margin-top: 0.2em;
  }

  // align the content
  align-items: baseline;

  // the time of the event
  &__time {
    @extend .label;
    opacity: 0.5;
    margin-right: $gap;
  }
  // the name label of the event
  &__name {
    font-family: Roboto;
    font-size: responsiveSize(14px, 24px);
    line-height: 1.324em;
  }
}
