@import "../../style/breakpoints.scss";

.glitching-effect-team {
  width: 90%;
}

.team-cta {
  margin-top: 2em;

  &__heading {
    max-width: responsiveSize(500px, 700px);
  }
  &__subheading {
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
  }
  &__button {
    @include viewportSmallerThan($breakpoint-s) {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      text-align: center;
    }

    margin-bottom: 1rem;
  }
}
