@import "../../style/typography.scss";
@import "../../style/breakpoints.scss";
@import "../../style/layout.scss";

/*
 *
 * Element Structure Overview
 * 
 * .nav-container
 * +- nav
 *     +- .nav__logo
 *     +- .nav--scrolled (state added when scrolled)
 *  
 *     +- .nav-bar
 *         +- nav-bar__item
 *     +- .nav__cta
 */

// max height of the nav bar
$nav-height: 64px;
// the breakpoint at which the nav bar switches to mobile mode (aka bottom mode)
$nav-breakpoint-mobile: $breakpoint-s;
// the break point at which the nav bar will collapse into small view
$nav-breakpoint-collapse: $breakpoint-m;

/*
 *
 * A fixed position container for encapsulating the whole navigation bar
 * 
 */
.nav-container {
  position: fixed;
  width: 100%;

  // push the nav bar to the bottom at mobile devices
  bottom: 0rem;
  @include viewportLargerThan($nav-breakpoint-mobile) {
    bottom: auto;
  }

  // always on top
  z-index: 10000000;

  // for the hide/show animation
  transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1); // ease out expo

  // push the nav bar off the screen in the beginning for hiding it
  // -100% for when the nav bar at top
  // 100% for when the nav bar at bottom
  transform: translateY(100%);
  @include viewportLargerThan($nav-breakpoint-mobile) {
    transform: translateY(-100%);
  }
}

//IMPORTANT
.nav-container--scrolled {
  // animated back to original position when the bar is shown
  transform: translateY(0);
}

/*
 *
 * container that contains all the components in the nav bar,
 * situated inside the fixed position "nav-container"
 * 
 */
.nav {
  // lock the nav bar to the center column width when it's big enough
  @include viewportLargerThan($center-column-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: $center-column-width;
  }

  background-color: var(--clr-primary-light);

  height: $nav-height;

  // make the flex item(logo, nav bar, apply button) full height
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.nav__logo {
  width: 50px;
  margin-left: 1rem;

  @include viewportSmallerThan($nav-breakpoint-collapse) {
    display: none;
  }
}

.nav__cta {
  flex: 0 0 auto;
  opacity: 0.8;
  display: flex;
  align-items: center; // vertically align the text
}

/*
 *
 * The progress bar, container of links and the actual progress bar
 * 
 */
.nav-bar {
  display: flex;
  flex-direction: row;

  // for the progress bar
  position: relative;

  // constrain the width
  flex: 0 1 40rem;

  // center align the progress bar
  margin-left: auto;
  margin-right: auto;

  @include viewportSmallerThan($nav-breakpoint-collapse) {
    overflow-x: scroll;
    // hide scrollbar
    scrollbar-width: none;

    // hide scroll bar in safari
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.nav-bar__progress {
  background-color: var(--clr-primary-dark);
  position: absolute;

  transform-origin: top left;
  height: 100%;
  width: 100%;

  // hide the scroll bar in the collapsed view to avoid confusion
  @include viewportSmallerThan($nav-breakpoint-collapse) {
    display: none;
  }
}

/*
 *
 * Links in the progress bar
 * 
 */
.nav-link {
  // make the button equal size
  flex-grow: 1;
  flex-basis: 0;

  // reset the default link styles
  color: var(--clr-interactive--inverted);
  text-decoration: none;

  display: flex;
  height: 100%;

  // layout the bar button
  position: relative;

  opacity: 0.5;

  // hide the nav links in mobile
  @include viewportSmallerThan($nav-breakpoint-collapse) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 6rem;
  }
}

.nav-link--current {
  opacity: 1;
}

.nav-link__title {
  // center the title text
  margin: auto;

  // typography of the link title
  letter-spacing: -0.03em;
  font-weight: 500;
}
.nav-link__index {
  // DESKTOP: push the bar alignment ot the bottom
  position: absolute;
  bottom: 0rem;

  // visuals of the section number marker
  border-left: 1px solid var(--clr-interactive--inverted);
  padding-left: 0.25rem;
  // HACK: to make the line aligns to the font height
  line-height: 80%;
  // HACK: extrude the bottom part of the border
  padding-bottom: 0.5rem;

  @extend .label;
  font-size: 12px;
  font-weight: normal;
}
