@import "./typography.scss";

a.button {
  @extend .button-text;

  display: inline-block;

  color: var(--clr-text--inverted);
  background-color: var(--clr-interactive-4);

  padding: 0.75rem 1.25rem;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

a {
  color: var(--clr-text--inverted);
  background-color: var(--clr-interactive-4);
  text-decoration: none;
}
