@import "./typography.scss";

.button {
  @extend .button-text;

  display: inline-block;

  color: var(--clr-text--inverted);
  background-color: var(--clr-interactive-4);

  padding: 0.75rem 1.25rem;
  text-decoration: none;
}
.button--disabled {
  display: none;
  visibility: hidden;
  background-color: var(--clr-interactive--disabled) !important;
}
.button--secondary {
  color: var(--clr-interactive-4);
  background-color: var(--clr-text--inverted);
}
.button--inverted {
  color: var(--clr-interactive-4);
  background-color: var(--clr-text--inverted);
}

a:hover {
  opacity: 0.9;
}

a {
  // color: var(--clr-text--inverted);
  color: var(--clr-primary-light);
  text-decoration: none;
}

.link-reset {
  color: var(--clr-text);
  background-color: transparent;
}
