@import "./breakpoints.scss";

body {
  font-family: "IBM Plex Sans";
  color: var(--clr-text);
}

h1 {
  font-family: "IBM Plex Sans";
  font-size: responsiveSize(36px, 96px);
  font-weight: 500;
  line-height: 121.3%;
  letter-spacing: -0.045em;

  color: var(--clr-primary-light);
}

h2 {
  font-family: "IBM Plex Sans";
  // @include responsiveFontSize(32px, 48px);
  font-size: responsiveSize(32px, 48px);
  font-weight: 700; // bold
  line-height: 124.8%;
  letter-spacing: -0.03em;
}

h3 {
  font-family: "IBM Plex Sans";
  font-size: responsiveSize(24px, 32px);
  font-weight: 700; // bold
  line-height: 124.8%;
  letter-spacing: -0.03em;
}

p {
  font-family: "IBM Plex Sans";
  font-size: responsiveSize(18px, 24px);
  max-width: 40ch;
}

.label {
  font-family: "IBM Plex Mono";
  font-size: responsiveSize(12px, 18px);
  font-weight: 500; // medium
  letter-spacing: 0.07em;

  text-transform: uppercase;
}
.button-text {
  @extend .label;
  font-size: 14px;
}
.quote {
  @extend p;
  font-style: oblique;
  font-size: responsiveSize(24px, 32px);
}

$footnotes-spacing: 0.5rem;
.footnotes {
  margin-top: $footnotes-spacing;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.footnotes--heading {
  @extend .footnotes;
  font-weight: 700;
  letter-spacing: 0.015em;
  margin-bottom: $footnotes-spacing;
}

.centered-text > *,
.centered-text {
  // make everything inside the centered text style center
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
