body {
  font-family: "IBM Plex Sans";
  color: var(--clr-primary-dark);
}

h1 {
  font-family: "IBM Plex Sans";
  font-size: 96px;
  font-weight: 500;
  line-height: 121.3%;
  letter-spacing: -.045em;

  color: var(--clr-primary-light);
}