:root {
  // not sure if this is the best system of colour
  --clr-primary-light:rgb(4,73,176);
  --clr-primary-dark: rgb(1,43,105);
  --clr-accent-yellow: rgb(255,214,0);
  --clr-accent-orange: rgb(255,114,54);
  --clr-accent-pink:rgb(240,72,255);
}